
<ul>
<%if session[:userid]%>

    <form action="/logout" method="POST">
        <button type="submit">Logga ut</button>
    </form>
    
<%else%>
    <a href="/login">Logga in</a>
<%end%>

<% if session[:userid] != nil   %>

    <a href="/register">Registrera</a>
 
<%end %>

<%@people.each do |person| %>
    <%curr = person['username']%>
    <li><a href="/profile/<%= curr %>"><%= curr%></a></li>
   

<%end%>
</ul>