<a href="/regacc">Registrera konto</a>

<form action="/login" method="POST">
    <input type="text" name="userlogin" placeholder="Användarnamn">
    <input type="password" name="passwordlogin" placeholder="Lösenord">
    <button type="submit">Registrera</button>

</form>