<form action="/regacc" method="POST">
    <input type="text" name="username" placeholder="Användarnamn">
    <input type="text" name="password" placeholder="Lösenord">
    <input type="checkbox" name="admin" placeholder="Admin">
    

</form>