<form action="/regacc" method="POST">
    <input type="text" name="username" placeholder="Användarnamn">
    <input type="password" name="password" placeholder="Lösenord">
    <input type="password" name="password2" placeholder="Bekräfta Lösenord">
    <button type="submit">Registrera</button>
    

</form>